<a href="https://colab.research.google.com/github/Awantika3/DScode/blob/master/Association_Rule_Apriori_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Implementing apriori algorithm to find rules that describe association between 4654 movie lists watched over the course of month. The dataset of the movies are randomly picked, these are not real data. The given data analysed and conclusions are derived from it. 

Dataset: https://drive.google.com/file/d/1NpU51C19wWL2lSKIUkfgxU3MrDcUpxL0/view?usp=sharing

## Importing the libraries

In [26]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Data Preprocessing

In [0]:
dataset = pd.read_csv('Movie.csv', header = None)
transaction = []
for i in range(0, 4654):
  transaction.append([str(dataset.values[i, j]) for j in range(0,20)])

## Training the Apriori model on the dataset

In [0]:
from apyori import apriori
rules = apriori(transactions = transaction, min_support = 0.0045, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

## Visualising the results

## Displaying the first results coming directly from the output of the apriori function

In [42]:
results = list(rules)
results

[RelationRecord(items=frozenset({'13 Hours', 'Beirut'}), support=0.0058014611087236784, ordered_statistics=[OrderedStatistic(items_base=frozenset({'13 Hours'}), items_add=frozenset({'Beirut'}), confidence=0.28421052631578947, lift=3.218286592393392)]),
 RelationRecord(items=frozenset({'London Has Fallen', 'Captain America'}), support=0.004727116458960034, ordered_statistics=[OrderedStatistic(items_base=frozenset({'London Has Fallen'}), items_add=frozenset({'Captain America'}), confidence=0.3013698630136986, lift=4.83646669815777)]),
 RelationRecord(items=frozenset({'Red Sparrow', 'Green Lantern'}), support=0.006231198968629136, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Red Sparrow'}), items_add=frozenset({'Green Lantern'}), confidence=0.31868131868131866, lift=3.9030075187969926)]),
 RelationRecord(items=frozenset({'Green Lantern', 'Star Wars'}), support=0.004941985388912763, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Star Wars'}), items_add=frozenset({'Green Lantern'}), confidence=0.3108108108108108, lift=3.806614509246088)]),
 RelationRecord(items=frozenset({'La La Land', 'Hunter Games'}), support=0.004941985388912763, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Hunter Games'}), items_add=frozenset({'La La Land'}), confidence=0.21296296296296297, lift=4.366209822156959)]),
 RelationRecord(items=frozenset({'Star Trek', 'Intern'}), support=0.006231198968629136, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Star Trek'}), items_add=frozenset({'Intern'}), confidence=0.37662337662337664, lift=3.903797761258786)]),
 RelationRecord(items=frozenset({'Kung Fu Panda', 'Jumanji'}), support=0.01461108723678556, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Kung Fu Panda'}), items_add=frozenset({'Jumanji'}), confidence=0.32075471698113206, lift=3.1761541549578483)]),
 RelationRecord(items=frozenset({'Jumanji', 'Wonder Woman'}), support=0.0045122475290073055, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Wonder Woman'}), items_add=frozenset({'Jumanji'}), confidence=0.30434782608695654, lift=3.0136910268270123)]),
 RelationRecord(items=frozenset({'The Spy Who Dumped Me', 'Spiderman 3'}), support=0.007520412548345509, ordered_statistics=[OrderedStatistic(items_base=frozenset({'The Spy Who Dumped Me'}), items_add=frozenset({'Spiderman 3'}), confidence=0.2916666666666667, lift=4.282071503680337)]),
 RelationRecord(items=frozenset({'The Revenant', 'Star Wars'}), support=0.0053717232488182205, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Star Wars'}), items_add=frozenset({'The Revenant'}), confidence=0.3378378378378378, lift=4.624403815580285)])]

## Putting the results well organised into a Pandas DataFrame

In [0]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

In [44]:
resultsinDataFrame

          Left Hand Side  Right Hand Side   Support  Confidence      Lift
0               13 Hours           Beirut  0.005801    0.284211  3.218287
1      London Has Fallen  Captain America  0.004727    0.301370  4.836467
2            Red Sparrow    Green Lantern  0.006231    0.318681  3.903008
3              Star Wars    Green Lantern  0.004942    0.310811  3.806615
4           Hunter Games       La La Land  0.004942    0.212963  4.366210
5              Star Trek           Intern  0.006231    0.376623  3.903798
6          Kung Fu Panda          Jumanji  0.014611    0.320755  3.176154
7           Wonder Woman          Jumanji  0.004512    0.304348  3.013691
8  The Spy Who Dumped Me      Spiderman 3  0.007520    0.291667  4.282072
9              Star Wars     The Revenant  0.005372    0.337838  4.624404

In [45]:
resultsinDataFrame.nlargest(n = 10, columns = 'Lift')

          Left Hand Side  Right Hand Side   Support  Confidence      Lift
1      London Has Fallen  Captain America  0.004727    0.301370  4.836467
9              Star Wars     The Revenant  0.005372    0.337838  4.624404
4           Hunter Games       La La Land  0.004942    0.212963  4.366210
8  The Spy Who Dumped Me      Spiderman 3  0.007520    0.291667  4.282072
5              Star Trek           Intern  0.006231    0.376623  3.903798
2            Red Sparrow    Green Lantern  0.006231    0.318681  3.903008
3              Star Wars    Green Lantern  0.004942    0.310811  3.806615
0               13 Hours           Beirut  0.005801    0.284211  3.218287
6          Kung Fu Panda          Jumanji  0.014611    0.320755  3.176154
7           Wonder Woman          Jumanji  0.004512    0.304348  3.013691

Conclusion:
Observing the table above, it can be concluded that if a person watches a movie on left hand side he would like to watch movie on right hand side. This can be used to recommend movies to the user by the sites.